<mat-form-field>
  <mat-label>Save Name</mat-label>
  <input
    matInput
    type="text"
    [formControl]="saveName"
    [matAutocomplete]="auto"
    matInput
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let s of saveNames" [value]="s">
      {{ s }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<button mat-raised-button (click)="onSave()">Save</button>
<button mat-raised-button (click)="onLoad()">Load</button>
<button mat-raised-button (click)="onRemove()">Remove</button>
{{ msg }}
