<mat-tab-group [(selectedIndex)]="currentCityIndex">
  <mat-tab
    *ngFor="let city of cities; let cityIndex = index"
    [label]="city.name"
  >
    <mat-tab-group [(selectedIndex)]="cities[currentCityIndex].currentBuildingIndex">
      <mat-tab
        *ngFor="let building of city.buildings; let buildingIndex = index"
        [label]="building.name"
      >
        <h4>Income</h4>
        <mat-form-field>
          <mat-label>amount</mat-label>
          <input matInput type="text" [formControl]="building.incomeAmount" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>unit</mat-label>
          <input matInput type="text" [formControl]="building.incomeUnit" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>interval</mat-label>
          <input matInput type="text" [formControl]="building.incomeInterval" />
        </mat-form-field>

        <mat-divider></mat-divider>
        <h4>Upgrade Amount</h4>
        <mat-form-field>
          <mat-label>cost</mat-label>
          <input
            matInput
            type="text"
            [formControl]="building.upgradeAmountCost"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>oneTimeCost</mat-label>
          <input
            matInput
            type="text"
            [formControl]="building.upgradeAmountOneTimeCost"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>multiply.upgrades</mat-label>
          <input
            matInput
            type="text"
            [formControl]="building.upgradeAmountMultiplyUpgrades"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>multiply.multiply</mat-label>
          <input
            matInput
            type="text"
            [formControl]="building.upgradeAmountMultiplyMultiply"
          />
        </mat-form-field>

        <mat-divider></mat-divider>
        <h4>Upgrade Time></h4>
        <mat-form-field>
          <mat-label>cost</mat-label>
          <input
            matInput
            type="text"
            [formControl]="building.upgradeTimeCost"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>shorten</mat-label>
          <input
            matInput
            type="text"
            [formControl]="building.upgradeTimeIncomeShorten"
          />
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
