<mat-tab-group main>
  <mat-tab gamestate label="State">
    <app-gamestate></app-gamestate>

    <h4>Optimize</h4>
    <button type="button" (click)="sendRequest()">
      Start
    </button>

    <h4>Result</h4>
    <div>
      Best actions:
      <ng-container *ngFor="let action of bestActions">
        {{ action }},
      </ng-container>
    </div>

    <div *ngFor="let msg of msgs.slice().reverse()">
      <li>{{ msg }}</li>
    </div>
  </mat-tab>
  <mat-tab presets label="Presets">
    <app-presets></app-presets>
  </mat-tab>
</mat-tab-group>

<mat-divider></mat-divider>
