<app-presets></app-presets>
<app-gamestate></app-gamestate>

<h4>Optimize</h4>
<mat-form-field>
  <mat-label>target amount</mat-label>
  <input matInput type="text" [formControl]="targetAmount" />
</mat-form-field>
<button type="button" (click)="sendRequest()">
  Start
</button>

<h4>Result</h4>
<div>
  <mat-progress-bar
    mode="determinate"
    [value]="resultProgress"
  ></mat-progress-bar>
</div>
<div>
  Best actions:
  <ng-container *ngFor="let bestAction of bestActions">
    {{ bestAction }},
  </ng-container>
</div>

<div *ngFor="let msg of msgs.slice().reverse()">
  <li>{{ msg }}</li>
</div>
