<div>unit price <input type="text" [formControl]="unitPrice" /></div>
<div>income units<input type="text" [formControl]="incomeUnits" /></div>
<div>income interval<input type="text" [formControl]="incomeInterval" /></div>

<div>
  upgradeAmount.cost <input type="text" [formControl]="upgradeAmount_cost" />
</div>
<div>
  upgradeAmount.oneTimeCost <input type="text" [formControl]="upgradeAmount_oneTimeCost" />
</div>
<div>
  upgradeAmount.multiply.upgrades <input type="text" [formControl]="upgradeAmountMultiplyUpgrades" />
</div>
<div>
  upgradeAmount.multiply.multiply <input type="text" [formControl]="upgradeAmountMultiplyMultiply" />
</div>

<div>
  upgradeTime.cost <input type="text" [formControl]="upgradeTimeCost" />
</div>
<div>
  upgradeTime.incomeShorten <input type="text" [formControl]="upgradeTimeIncomeShorten" />
</div>

<button type="button" (click)="sendRequest()">
  Start
</button>

<div>
  Best actions:
  <ng-container *ngFor="let action of bestActions">
    {{ action }},
  </ng-container>
</div>

<div *ngFor="let msg of msgs.slice().reverse()">
  <li>{{ msg }}</li>
</div>
